@import "../../styles/variables.scss";

.container {
    width: 20rem;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -20rem;
    background-color: $white;
    border-left: .2rem solid $black;
    z-index: 3;
    padding: 1rem;
    transition: all .2s ease-in;
    box-shadow: -5px -5px 5px $light-grey;

    &.show {
        right: 0;
    }

    .item {
        font-size: 1.2rem;
    }
}

.listBug {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}


.button {    
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    border-radius: 20rem;
    background-color: $bright_green;
    box-shadow: 2px 2px 1px $green_drop_shadow;
    color: $white;
    border: none;

    &:hover {
        background-color: darken($green_drop_shadow, 10%);
    }

    img {
        height: 1.5rem;
        width: 1.5rem;
    }

    span {
        display: block;
        position: absolute;
        border-radius: 20rem;
        color: $white;
        left: -1rem;
        top: 1.5rem;
        font-size: .8rem;
        height: 2rem;
        width: 2rem;
        line-height: 2rem;
        background-color: $bright_green;
        box-shadow: 2px 2px 1px $green_drop_shadow;
    }
}