@import '../../styles/variables.scss';

.container {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem 0;
    grid-template-columns: repeat(5, 1fr);

    a {
        text-decoration: none;
    }
    
    .item {
        display: flex;        
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: $bright_green;
        box-shadow: 5px 5px 1px $green_drop_shadow;
        color: $dark_green;
        transition: all .1s linear;

        &:hover {
            transform: scale(1.02);
            cursor: pointer;
        }
    }
}

.presentIcon {
    height: 2rem;
    padding: .4rem;
}