.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2rem;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    padding: 3rem 0 0 0;
    display: flex;
    justify-content: space-between;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #666;
}

.imageContainer {
    position: relative;
    width: 150px;
    height: 150px;
}

.addBtn {
    background-color: #ffd000;
    border: #ffd000;
    padding: .4rem 1rem;
    margin: 1rem 0 1rem 0;
    transition: all .3s ease-in;
    text-decoration: none;

    &:hover {
        background-color: lighten(#ffd000, 10%);
        border: lighten(#ffd000, 10%);
        text-decoration: none;
    }
}

.fourohfour {
    background-color: #FF0000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    color: white;

    div {
        margin-top: 10rem;
        text-align: center;

        h1 {
            font-size: 6rem;
            font-weight: lighter;
        }

        a { 
            color: white;
        }
    }
}

.tileGrid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}